---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Jun 2021 15:59:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1435644361"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1762573860"}]}]}'
  recorded_at: Mon, 07 Jun 2021 15:59:00 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=39.738453&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":740,"perpage":250,"total":184842,"photo":[{"id":"51229767131","owner":"79129236@N00","secret":"ddbb6cd388","server":"65535","farm":66,"title":"Denver
        Zoo","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51230534829","owner":"79129236@N00","secret":"1c9783dcf7","server":"65535","farm":66,"title":"Denver
        Zoo","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51229063287","owner":"79129236@N00","secret":"98d1dbfa5e","server":"65535","farm":66,"title":"Denver
        Zoo","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51230534209","owner":"79129236@N00","secret":"4e3120ceb1","server":"65535","farm":66,"title":"Denver
        Zoo","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5122976[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51229767131
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51229767131","secret":"ddbb6cd388","server":"65535","farm":66,"dateuploaded":"1623014532","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"79129236@N00","username":"Chante
        Etan","realname":"","location":"Loveland, CO","iconserver":"65535","iconfarm":66,"path_alias":"chante-etan"},"title":{"_content":"Denver
        Zoo"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1623014532","taken":"2021-05-22
        13:14:39","takengranularity":"0","takenunknown":"0","lastupdate":"1623014533"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.749102","longitude":"-104.954039","accuracy":"16","context":"0","locality":{"_content":"Vine
        Street Houses"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/chante-etan\/51229767131\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Mon, 07 Jun 2021 15:59:01 GMT
[...]
