---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 23:20:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-174057806"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1140687748"}]}]}'
  recorded_at: Sun, 25 Apr 2021 23:20:07 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=39.738453&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1191,"perpage":250,"total":"297536","photo":[{"id":"51137658107","owner":"145066497@N05","secret":"5b6f56ea20","server":"65535","farm":66,"title":"1978
        Volkswagen Westfalia 1","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51135914883","owner":"39877441@N05","secret":"f3e95ec59f","server":"65535","farm":66,"title":"Pasque
        Flowers","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51135165355","owner":"37965975@N03","secret":"a4e14c70df","server":"65535","farm":66,"title":"Spring
        Polaroid Week 2021: Spring Flowers","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51133805338","owner":"56397153@N04","secret":"740a1ec26e","server":"65535","farm":66,"title":"Magic
        Carpet Ride","ispublic":1[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51137658107
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51137658107","secret":"5b6f56ea20","server":"65535","farm":66,"dateuploaded":"1619383879","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"ae99fdaf29","originalformat":"jpg","owner":{"nsid":"145066497@N05","username":"tknapp37","realname":"Thomas
        Knapp","location":"","iconserver":"7920","iconfarm":8,"path_alias":"tknapp37photos"},"title":{"_content":"1978
        Volkswagen Westfalia 1"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619383879","taken":"2021-03-07
        19:16:17","takengranularity":0,"takenunknown":"1","lastupdate":"1619383890"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.758427","longitude":"-105.030875","accuracy":"16","context":"0","locality":{"_content":"Highland
        Park"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/tknapp37photos\/51137658107\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:20:07 GMT
recorded_with: VCR 6.0.0
