---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 15:48:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1267016569"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-596442582"}]}]}'
  recorded_at: Tue, 27 Apr 2021 15:48:42 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=39.738453&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":817,"perpage":250,"total":"204094","photo":[{"id":"51139498527","owner":"39877441@N05","secret":"4307dca9d6","server":"65535","farm":66,"title":"Tulip","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51139090752","owner":"51035555243@N01","secret":"fd70839e18","server":"65535","farm":66,"title":"Release
        Your Plans","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51135914883","owner":"39877441@N05","secret":"f3e95ec59f","server":"65535","farm":66,"title":"Pasque
        Flowers","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51133160360","owner":"23245739@N02","secret":"b325ed022a","server":"65535","farm":66,"title":"Denver
        Ski Trip April 2021","ispublic":1,"isfriend"[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51139498527
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51139498527","secret":"4307dca9d6","server":"65535","farm":66,"dateuploaded":"1619451756","isfavorite":0,"license":"3","safety_level":"0","rotation":0,"originalsecret":"7ec70ac69a","originalformat":"jpg","owner":{"nsid":"39877441@N05","username":"mclcbooks","realname":"Michael
        Levine-Clark","location":"Denver, USA","iconserver":"7288","iconfarm":8,"path_alias":null},"title":{"_content":"Tulip"},"description":{"_content":"Denver
        Botanic Gardens"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619451756","taken":"2021-04-25
        09:02:37","takengranularity":"0","takenunknown":"0","lastupdate":"1619526687"},"views":"556","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":1},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"17"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"39872101-51139498527-535","author":"39877441@N05","authorname":"mclcbooks","raw":"flower","_content":"flower","machine_tag":0},{"id":"39872101-51139498527-140","author":"39877441@N05","authorname":"mclcbooks","raw":"flowers","_content":"flowers","machine_tag":0},{"id":"39872101-51139498527-833","author":"39877441@N05","authorname":"mclcbooks","raw":"floral","_content":"floral","machine_tag":0},{"id":"39872101-51139498527-15851","author":"39877441@N05","authorname":"mclcbooks","raw":"tulip","_content":"tulip","machine_tag":0},{"id":"39872101-51139498527-4264","author":"39877441@N05","authorname":"mclcbooks","raw":"tulips","_content":"tulips","machine_tag":0},{"id":"39872101-51139498527-2620","author":"39877441@N05","authorname":"mclcbooks","raw":"spring","_content":"spring","machine_tag":0},{"id":"39872101-51139498527-19449","author":"39877441@N05","authorname":"mclcbooks","raw":"bulbs","_content":"bulbs","machine_tag":0},{"id":"39872101-51139498527-707158","author":"39877441@N05","authorname":"mclcbooks","raw":"Denver
        Botanic Gardens","_content":"denverbotanicgardens","machine_tag":0},{"id":"39872101-51139498527-3157","author":"39877441@N05","authorname":"mclcbooks","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"39872101-51139498527-987","author":"39877441@N05","authorname":"mclcbooks","raw":"yellow","_content":"yellow","machine_tag":0}]},"location":{"latitude":"39.732546","longitude":"-104.960879","accuracy":"16","context":"0","locality":{"_content":"Cheesman
        Park"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/39877441@N05\/51139498527\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 15:48:43 GMT
recorded_with: VCR 6.0.0
