---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 13:35:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1052770"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1224445367"}]}]}'
  recorded_at: Wed, 28 Apr 2021 13:35:00 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=39.738453&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":888,"perpage":250,"total":"221863","photo":[{"id":"51144796785","owner":"25856681@N07","secret":"8cd3647e5a","server":"65535","farm":66,"title":"PXL_20210426_211847608","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51143012247","owner":"25856681@N07","secret":"35e4b086d5","server":"65535","farm":66,"title":"PXL_20210426_211823072","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142928502","owner":"25856681@N07","secret":"744d62c14e","server":"65535","farm":66,"title":"2021-04-27_11-10-32","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51143481161","owner":"25856681@N07","secret":"b81cfe2314","server":"65535","farm":66,"title":"2021-04-27_09-34-04","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51144796785
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51144796785","secret":"8cd3647e5a","server":"65535","farm":66,"dateuploaded":"1619590830","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"d699aacd05","originalformat":"jpg","owner":{"nsid":"25856681@N07","username":"troyleeallier","realname":"Serg","location":"","iconserver":"2773","iconfarm":3,"path_alias":null},"title":{"_content":"PXL_20210426_211847608"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619590830","taken":"2021-04-26
        15:18:47","takengranularity":"0","takenunknown":"0","lastupdate":"1619590879"},"views":"2","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.674280","longitude":"-104.942714","accuracy":"16","context":"0","locality":{"_content":"University
        Hills"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/25856681@N07\/51144796785\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 13:35:01 GMT
[...]
