---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely,daily,alerts&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619557665,"sunrise":1619525164,"sunset":1619574340,"temp":64.31,"feels_like":61.38,"pressure":1005,"humidity":20,"dew_point":23.5,"uvi":4.76,"clouds":75,"visibility":10000,"wind_speed":3.44,"wind_deg":0,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619557200,"temp":64.31,"feels_like":61.38,"pressure":1005,"humidity":20,"dew_point":23.5,"uvi":4.76,"clouds":75,"visibility":10000,"wind_speed":11.97,"wind_deg":121,"wind_gust":9.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.19},{"dt":1619560800,"temp":64.85,"feels_like":62.02,"pressure":1003,"humidity":21,"dew_point":24.94,"uvi":2.91,"clouds":73,"visibility":10000,"wind_speed":3.42,"wind_deg":64,"wind_gust":4.88,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.27},{"dt":1619564400,"temp":65.32,"feels_like":62.64,"pressure":1002,"humidity":23,"dew_point":27.23,"uvi":1.56,"clouds":67,"visibility":10000,"wind_speed":6.33,"wind_deg":336,"wind_gust":8.61,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.33},{"dt":1619568000,"temp":63.01,"feels_like":60.42,"pressure":1002,"humidity":30,"dew_point":31.23,"uvi":0.62,"clouds":62,"visibility":10000,"wind_speed":10.69,"wind_deg":277,"wind_gust":13.35,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.31},{"dt":1619571600,"temp":60.39,"feels_like":58.01,"pressure":1002,"humidity":40,"dew_point":35.98,"uvi":0.2,"clouds":90,"visibility":10000,"wind_speed":13.67,"wind_deg":350,"wind_gust":12.48,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.51,"rain":{"1h":0.33}},{"dt":1619575200,"temp":52.75,"feels_like":50.59,"pressure":1004,"humidity":61,"dew_point":39.51,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":22.37,"wind_deg":10,"wind_gust":25.46,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.63,"rain":{"1h":0.42}},{"dt":1619578800,"temp":52.09,"feels_like":50,"pressure":1006,"humidity":64,"dew_point":40.01,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":20.74,"wind_deg":13,"wind_gust":28.83,[...]
