---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 02:53:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=394363956"}]}]}'
  recorded_at: Wed, 28 Apr 2021 02:53:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=40.237428&lon=-104.998668&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.2374,"lon":-104.9987,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619578403,"sunrise":1619525049,"sunset":1619574644,"temp":42.48,"feels_like":42.48,"pressure":1009,"humidity":91,"dew_point":40.05,"uvi":0,"clouds":100,"visibility":3944,"wind_speed":1.99,"wind_deg":349,"wind_gust":8.99,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.56}},"hourly":[{"dt":1619575200,"temp":42.73,"feels_like":34.95,"pressure":1009,"humidity":90,"dew_point":40.01,"uvi":0,"clouds":100,"visibility":9216,"wind_speed":16.35,"wind_deg":3,"wind_gust":22.46,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.96,"rain":{"1h":1.87}},{"dt":1619578800,"temp":42.48,"feels_like":36,"pressure":1009,"humidity":91,"dew_point":40.05,"uvi":0,"clouds":100,"visibility":3944,"wind_speed":11.88,"wind_deg":360,"wind_gust":19.19,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":1,"rain":{"1h":0.56}},{"dt":1619582400,"temp":42.31,"feels_like":38.39,"pressure":1010,"humidity":92,"dew_point":40.15,"uvi":0,"clouds":100,"visibility":3607,"wind_speed":6.2,"wind_deg":359,"wind_gus[...]
