---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 13:34:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1827060055"}]}]}'
  recorded_at: Wed, 28 Apr 2021 13:34:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=40.237428&lon=-104.998668&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.2374,"lon":-104.9987,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619616895,"sunrise":1619611370,"sunset":1619661106,"temp":41.86,"feels_like":36.68,"pressure":1011,"humidity":88,"dew_point":38.57,"uvi":0.78,"clouds":100,"visibility":10000,"wind_speed":8.37,"wind_deg":356,"wind_gust":18.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619614800,"temp":42.03,"feels_like":38.5,"pressure":1012,"humidity":87,"dew_point":38.44,"uvi":0.2,"clouds":100,"visibility":10000,"wind_speed":5.5,"wind_deg":330,"wind_gust":13.11,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.61,"rain":{"1h":0.2}},{"dt":1619618400,"temp":41.86,"feels_like":36.68,"pressure":1011,"humidity":88,"dew_point":38.57,"uvi":0.78,"clouds":100,"visibility":10000,"wind_speed":8.37,"wind_deg":356,"wind_gust":18.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.61},{"dt":1619622000,"temp":42.73,"feels_like":36.75,"pressure":1012,"humidity":85,"dew_point":38.53,"uvi":1.92,"clouds":100,"visibility":10000,"wind_speed":10.69,"wind_deg":353,"wind_gust":16.17,"[...]
