---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Jun 2021 15:58:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2074919333"}]}]}'
  recorded_at: Mon, 07 Jun 2021 15:58:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=40.237428&lon=-104.998668&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.2374,"lon":-104.9987,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623081536,"sunrise":1623065439,"sunset":1623119249,"temp":75.58,"feels_like":75.18,"pressure":1013,"humidity":50,"dew_point":55.65,"uvi":5.3,"clouds":1,"visibility":10000,"wind_speed":11.01,"wind_deg":145,"wind_gust":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623078000,"temp":74.53,"feels_like":73.94,"pressure":1012,"humidity":48,"dew_point":53.58,"uvi":3.08,"clouds":15,"visibility":10000,"wind_speed":4,"wind_deg":13,"wind_gust":3.62,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1623081600,"temp":75.58,"feels_like":75.18,"pressure":1013,"humidity":50,"dew_point":55.65,"uvi":5.3,"clouds":1,"visibility":10000,"wind_speed":2.53,"wind_deg":30,"wind_gust":1.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623085200,"temp":76.66,"feels_like":76.14,"pressure":1011,"humidity":45,"dew_point":53.74,"uvi":7.52,"clouds":10,"visibility":10000,"wind_speed":4,"wind_deg":31,"wind_gust":2.91,"weather":[{"id":800,"main":"Clea[...]
