---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 17:10:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-211544013"}]}]}'
  recorded_at: Tue, 27 Apr 2021 17:10:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=40.237428&lon=-104.998668&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.2374,"lon":-104.9987,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619543407,"sunrise":1619525049,"sunset":1619574644,"temp":53.38,"feels_like":51.53,"pressure":1002,"humidity":66,"dew_point":42.33,"uvi":4.17,"clouds":100,"visibility":10000,"wind_speed":9.62,"wind_deg":61,"wind_gust":11.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619542800,"temp":53.38,"feels_like":51.53,"pressure":1002,"humidity":66,"dew_point":42.33,"uvi":4.17,"clouds":100,"visibility":10000,"wind_speed":9.62,"wind_deg":61,"wind_gust":11.18,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.85,"rain":{"1h":0.13}},{"dt":1619546400,"temp":52.68,"feels_like":50.79,"pressure":1003,"humidity":67,"dew_point":42.04,"uvi":5.21,"clouds":100,"visibility":7213,"wind_speed":9.6,"wind_deg":99,"wind_gust":9.57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.76},{"dt":1619550000,"temp":51.4,"feels_like":49.53,"pressure":1004,"humidity":70,"dew_point":41.97,"uvi":3.75,"clouds":100,"visibility":10000,"wind_speed":7.83,"wind_deg":350,"wind_gust":8.41,"weathe[...]
