---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 02:53:30 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1097922047"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1983968030"}]}]}'
  recorded_at: Wed, 28 Apr 2021 02:53:30 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619578401,"sunrise":1619525100,"sunset":1619574586,"temp":41.67,"feels_like":34.09,"pressure":1011,"humidity":88,"dew_point":38.39,"uvi":0,"clouds":100,"visibility":2727,"wind_speed":14.63,"wind_deg":357,"wind_gust":20.89,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.87}},"hourly":[{"dt":1619575200,"temp":42.62,"feels_like":35.8,"pressure":1011,"humidity":87,"dew_point":39.04,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":13.02,"wind_deg":28,"wind_gust":16.71,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.88,"rain":{"1h":0.64}},{"dt":1619578800,"temp":41.67,"feels_like":34.09,"pressure":1011,"humidity":88,"dew_point":38.39,"uvi":0,"clouds":100,"visibility":2727,"wind_speed":14.63,"wind_deg":357,"wind_gust":20.89,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.91,"rain":{"1h":0.87}},{"dt":1619582400,"temp":41.72,"feels_like":34.48,"pressure":1012,"humidity":90,"dew_point":39,"uvi":0,"clouds":100,"visibility":182,"wind_speed":13.53,"wind_deg":8,"wind_g[...]
