---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=duDEJ8fJ1iTMGItJKJjKEWgB5sD6NcMv&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 16:45:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=duDEJ8fJ1iTMGItJKJjKEWgB5sD6NcMv&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=39994456"}]}]}'
  recorded_at: Sun, 25 Apr 2021 16:45:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da73c8c5f75f1ed699e32db2b5ead2ca&exclude=minutely&lat=40.237428&lon=-104.998668&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.2374,"lon":-104.9987,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619369141,"sunrise":1619352409,"sunset":1619401719,"temp":63.27,"feels_like":60.66,"pressure":1007,"humidity":29,"dew_point":30.69,"uvi":5.64,"clouds":1,"visibility":10000,"wind_speed":10.94,"wind_deg":161,"wind_gust":14.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619366400,"temp":62.6,"feels_like":60.03,"pressure":1006,"humidity":31,"dew_point":31.62,"uvi":3.79,"clouds":15,"visibility":10000,"wind_speed":9.73,"wind_deg":154,"wind_gust":11.45,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619370000,"temp":63.27,"feels_like":60.66,"pressure":1007,"humidity":29,"dew_point":30.69,"uvi":5.64,"clouds":1,"visibility":10000,"wind_speed":10.94,"wind_deg":161,"wind_gust":14.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619373600,"temp":64.35,"feels_like":61.79,"pressure":1006,"humidity":28,"dew_point":30.74,"uvi":7.07,"clouds":12,"visibility":10000,"wind_speed":12.82,"wind_deg":157,"wind_gust":20.22,"weather":[{"id":801,"[...]
