---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51230813462
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51230813462","secret":"54a6ba0e87","server":"65535","farm":66,"dateuploaded":"1623080939","isfavorite":0,"license":"0","safety_level":"0","rotation":90,"originalsecret":"96fb9281ff","originalformat":"jpg","owner":{"nsid":"27199415@N05","username":"baddogdown","realname":"","location":null,"iconserver":"3712","iconfarm":4,"path_alias":"baddogdown"},"title":{"_content":"PXL_20210607_154829108.jpg"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1623080939","taken":"2021-06-07
        16:48:29","takengranularity":"0","takenunknown":"0","lastupdate":"1623080941"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"0.000000","longitude":"0.000000","accuracy":"16","context":"0","locality":{"_content":"Font
        Al-Da''da"},"neighbourhood":{"_content":""},"region":{"_content":"Dham\u0101r"},"country":{"_content":"Yemen"}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/baddogdown\/51230813462\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Mon, 07 Jun 2021 15:58:49 GMT
[...]
