---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51137658107
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51137658107","secret":"5b6f56ea20","server":"65535","farm":66,"dateuploaded":"1619383879","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"ae99fdaf29","originalformat":"jpg","owner":{"nsid":"145066497@N05","username":"tknapp37","realname":"Thomas
        Knapp","location":"","iconserver":"7920","iconfarm":8,"path_alias":"tknapp37photos"},"title":{"_content":"1978
        Volkswagen Westfalia 1"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619383879","taken":"2021-03-07
        19:16:17","takengranularity":0,"takenunknown":"1","lastupdate":"1619383890"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.758427","longitude":"-105.030875","accuracy":"16","context":"0","locality":{"_content":"Highland
        Park"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/tknapp37photos\/51137658107\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:20:03 GMT
recorded_with: VCR 6.0.0
