---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51143731466
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51143731466","secret":"967329271d","server":"65535","farm":66,"dateuploaded":"1619592689","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"7484591c9c","originalformat":"jpg","owner":{"nsid":"27199415@N05","username":"baddogdown","realname":"","location":null,"iconserver":"3712","iconfarm":4,"path_alias":"baddogdown"},"title":{"_content":"PXL_20210428_0630304782.jpg"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619592689","taken":"2021-04-28
        07:30:30","takengranularity":"0","takenunknown":"0","lastupdate":"1619592690"},"views":"5","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"0.000000","longitude":"0.000000","accuracy":"16","context":"0","locality":{"_content":"Font
        Al-Da''da"},"neighbourhood":{"_content":""},"region":{"_content":"Dham\u0101r"},"country":{"_content":"Yemen"}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/baddogdown\/51143731466\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 13:51:10 GMT
[...]
