---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51144796785
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51144796785","secret":"8cd3647e5a","server":"65535","farm":66,"dateuploaded":"1619590830","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"d699aacd05","originalformat":"jpg","owner":{"nsid":"25856681@N07","username":"troyleeallier","realname":"Serg","location":"","iconserver":"2773","iconfarm":3,"path_alias":null},"title":{"_content":"PXL_20210426_211847608"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619590830","taken":"2021-04-26
        15:18:47","takengranularity":"0","takenunknown":"0","lastupdate":"1619590879"},"views":"2","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.674280","longitude":"-104.942714","accuracy":"16","context":"0","locality":{"_content":"University
        Hills"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/25856681@N07\/51144796785\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 13:34:43 GMT
[...]
