---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Jun 2021 15:59:08 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1234"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Luxembourg","adminArea5Type":"City","adminArea4":"Luxembourg","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"LU","adminArea1Type":"Country","postalCode":"1234","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"346755873","unknownInput":"","type":"s","latLng":{"lat":49.595734,"lng":6.140648},"displayLatLng":{"lat":49.595734,"lng":6.140648},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=49.595734,6.140648|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1466795578"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"MK","adminArea1Type":"Country","postalCode":"1234","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=49.595734&lon=6.140648&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":330,"perpage":250,"total":82342,"photo":[{"id":"51224050249","owner":"193077755@N02","secret":"7b36692e54","server":"65535","farm":66,"title":"Et
        Paon! Priorit\u00e9 \u00e0 droite","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51220605155","owner":"164379277@N06","secret":"2ef647b8ae","server":"65535","farm":66,"title":"Ville
        de Luxembourg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51217629844","owner":"193105688@N08","secret":"6f606bd0a7","server":"65535","farm":66,"title":"Luxemburg
        mei 2003","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51217629849","owner":"193105688@N08","secret":"d59a01dfb0","server":"65535","farm":66,"title":"Luxemburg
        mei 2003","ispublic":1,"isfriend":0,[...]
