---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=mead,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 07 Jun 2021 15:58:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mead,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mead","adminArea5Type":"City","adminArea4":"Weld
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282029700","unknownInput":"","type":"s","latLng":{"lat":40.237428,"lng":-104.998668},"displayLatLng":{"lat":40.237428,"lng":-104.998668},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=40.237428,-104.998668|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2056971628"}]}]}'
  recorded_at: Mon, 07 Jun 2021 15:58:56 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=40.237428&lon=-104.998668&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":8,"perpage":250,"total":1783,"photo":[{"id":"51171643872","owner":"48896557@N00","secret":"f74d815ec2","server":"65535","farm":66,"title":"Colorado
        Rocky Mountain Front Range Panoramic","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51086607992","owner":"61254866@N07","secret":"a4dd7a658b","server":"65535","farm":66,"title":"Still
        Going Strong","ispublic":1,"isfriend":0,"isfamily":0},{"id":"50950492051","owner":"61254866@N07","secret":"bdd7c76fc5","server":"65535","farm":66,"title":"Peeking
        In the Sun","ispublic":1,"isfriend":0,"isfamily":0},{"id":"50754035963","owner":"36088296@N08","secret":"3a28b57a7a","server":"65535","farm":66,"title":"Establishing
        Shot - Union Reservoir, Weld County C[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51171643872
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51171643872","secret":"f74d815ec2","server":"65535","farm":66,"dateuploaded":"1620745565","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"48896557@N00","username":"Striking
        Photography by Bo Insogna","realname":"Bo Insogna,  www.MrBo.com","location":"Boulder
        County, Colorado, USA","iconserver":"780","iconfarm":1,"path_alias":"thelightningman"},"title":{"_content":"Colorado
        Rocky Mountain Front Range Panoramic"},"description":{"_content":"A very large
        springtime panoramic view of the Colorado Rocky Mountains Front Range covered
        in snow.   \n\n\nThis is a 13 image panoramic.  Also available in two parts.\n\nor
        more please feel free to share, like or follow.\n\nYour support is very much
        appreciated!\n\nWebsite With Prints available at:  <a href=\"https:\/\/james-insogna.pixels.com\/featured\/colorado-rocky-mountain-front-range-panoramic-james-bo-insogna.html\"
        rel=\"noreferrer nofollow\">james-insogna.pixels.com\/featured\/colorado-rocky-mountain...<\/a>\n
        \niGallery: <a href=\"https:\/\/James.Insogna.pixels.com\" rel=\"noreferrer
        nofollow\">James.Insogna.pixels.com<\/a> \nPortfolio:  <a href=\"https:\/\/www.JamesInsogna.com\"
        rel=\"noreferrer nofollow\">www.JamesInsogna.com<\/a>  \nInstagram: <a href=\"https:\/\/instagram.com\/strikingphoto\/\"
        rel=\"noreferrer nofollow\">instagram.com\/strikingphoto\/<\/a>\nFacebook
        <a href=\"https:\/\/www.facebook.com\/StrikingPhotographyByBo\/\" rel=\"noreferrer
        nofollow\">www.facebook.com\/StrikingPhotographyByBo\/<\/a>\nTwitter: <a href=\"https:\/\/twitter.com\/bophoto\"
        rel=\"noreferrer nofollow\">twitter.com\/bophoto<\/a>"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1620745565","taken":"2021-05-07
        07:41:09","takengranularity":"0","takenunknown":"0","lastupdate":"1621622746"},"views":"357","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":1},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"6"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"1874222-51171643872-3157","author":"48896557@N00","authorname":"Striking
        Photography by Bo Insogna","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"1874222-51171643872-225302716","author":"48896557@N00","authorname":"Striking
        Photography by Bo Insogna","raw":"Colorado panoramas","_content":"coloradopanoramas","machine_tag":0},{"id":"1874222-51171643872-7234094","author":"48896557@N00","authorname":"Striking
        Photography by Bo Insogna","raw":"Colorado landscapes","_content":"coloradolandscapes","machine_tag":0},{"id":"1874222-51171643872-21644","author":"48896557@N00","authorname":"Striking
        Photography by Bo [...]
[...]
