---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51076718812
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"51076718812","secret":"b3b260cbdb","server":"65535","farm":66,"dateuploaded":"1619434543","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"76475621@N00","username":"Tim
        Kiser","realname":"Tim Kiser","location":null,"iconserver":"7921","iconfarm":8,"path_alias":"timboduke"},"title":{"_content":"A
        striped awning for a commercial building!"},"description":{"_content":"In
        Denver, Colorado, on February 8th, 2018, a building at the southeast corner
        of East 20th Avenue and Lincoln Street.\n\n-----------------------\n\nGetty
        Thesaurus of Geographic Names terms:\n\u2022 Denver (<a href=\"http:\/\/vocab.getty.edu\/page\/tgn\/7013545\"
        rel=\"noreferrer nofollow\">7013545<\/a>)\n\nArt &amp; Architecture Thesaurus
        terms:\n\u2022 awnings (<a href=\"http:\/\/vocab.getty.edu\/page\/aat\/300254200\"
        rel=\"noreferrer nofollow\">300254200<\/a>)\n\u2022 commercial buildings (<a
        href=\"http:\/\/vocab.getty.edu\/page\/aat\/300005147\" rel=\"noreferrer nofollow\">300005147<\/a>)\n\u2022
        exterior walls (<a href=\"http:\/\/vocab.getty.edu\/page\/aat\/300002523\"
        rel=\"noreferrer nofollow\">300002523<\/a>)\n\u2022 graffiti (<a href=\"http:\/\/vocab.getty.edu\/page\/aat\/300015613\"
        re[...]
[...]
