---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51229572248
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51229572248","secret":"1680b96fe2","server":"65535","farm":66,"dateuploaded":"1623067493","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"78191777@N00","username":"roleATL","realname":"Edward
        Lund","location":"30307, USA","iconserver":"7555","iconfarm":8,"path_alias":"the_hookups"},"title":{"_content":""},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1623067493","taken":"2021-06-06
        13:17:06","takengranularity":"0","takenunknown":"0","lastupdate":"1623080990"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"location":{"latitude":"39.789478","longitude":"-105.030927","accuracy":"14","context":"0","locality":{"_content":"Berkeley
        Gardens"},"county":{"_content":"Adams"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/the_hookups\/51229572248\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Mon, 07 Jun 2021 15:58:47 GMT
[...]
