---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51139498527
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51139498527","secret":"4307dca9d6","server":"65535","farm":66,"dateuploaded":"1619451756","isfavorite":0,"license":"3","safety_level":"0","rotation":0,"originalsecret":"7ec70ac69a","originalformat":"jpg","owner":{"nsid":"39877441@N05","username":"mclcbooks","realname":"Michael
        Levine-Clark","location":"Denver, USA","iconserver":"7288","iconfarm":8,"path_alias":null},"title":{"_content":"Tulip"},"description":{"_content":"Denver
        Botanic Gardens"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619451756","taken":"2021-04-25
        09:02:37","takengranularity":"0","takenunknown":"0","lastupdate":"1619526687"},"views":"588","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":1},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"17"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"39872101-51139498527-535","author":"39877441@N05","authorname":"mclcbooks","raw":"flower","_content":"flower","machine_tag":0},{"id":"39872101-51139498527-140","author":"39877441@N05","authorname":"mclcbooks","raw":"flowers","_content":"flowers","machine_tag":0},{"id":"39872101-51139498527-833","author":"39877441@N05","authorname":"mclcbooks","raw":"floral","_content":"floral","machine_tag":0},{"id":"39872101-51139498527-15851","author":"39877441@N05","authorname":"mclcbooks","raw":"tulip","_content":"tulip","machine_tag":0},{"id":"39872101-51139498527-4264","author":"39877441@N05","authorname":"mclcbooks","raw":"tulips","_content":"tulips","machine_tag":0},{"id":"39872101-51139498527-2620","author":"39877441@N05","authorname":"mclcbooks","raw":"spring","_content":"spring","machine_tag":0},{"id":"39872101-51139498527-19449","author":"39877441@N05","authorname":"mclcbooks","raw":"bulbs","_content":"bulbs","machine_tag":0},{"id":"39872101-51139498527-707158","author":"39877441@N05","authorname":"mclcbooks","raw":"Denver
        Botanic Gardens","_content":"denverbotanicgardens","machine_tag":0},{"id":"39872101-51139498527-3157","author":"39877441@N05","authorname":"mclcbooks","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"39872101-51139498527-987","author":"39877441@N05","authorname":"mclcbooks","raw":"yellow","_content":"yellow","machine_tag":0}]},"location":{"latitude":"39.732546","longitude":"-104.960879","accuracy":"16","context":"0","locality":{"_content":"Cheesman
        Park"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/39877441@N05\/51139498527\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 17:10:05 GMT
recorded_with: VCR 6.0.0
