---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=6066076873
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"6066076873","secret":"28e8240e81","server":"6067","farm":7,"dateuploaded":"1313953668","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"99491151@N00","username":"courthouselover","realname":"","location":null,"iconserver":"7353","iconfarm":8,"path_alias":"courthouselover"},"title":{"_content":"Post
        Office 67675 (Woodston, Kansas)"},"description":{"_content":"Woodston is a
        small incorporated community located in northeastern Rooks County between
        Stockton and Osborne."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1313953668","taken":"2011-08-20
        18:47:05","takengranularity":"0","takenunknown":"0","lastupdate":"1551654587"},"views":"322","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"6424137-6066076873-18209","author":"99491151@N00","authorname":"courthouselover","raw":"Kansas","_content":"kansas","machine_tag":0},{"id":"6424137-6066076873-162836","author":"99491151@N00","authorname":"courthouselover","raw":"Post
        Offices","_content":"postoffices","machine_tag":0},{"id":"6424137-6066076873-12826105","author":"99491151@N00","authorname":"courthouselover","raw":"Rooks
        County","_content":"rookscounty","machine_tag":0},{"id":"6424137-6066076873-6360651","author":"99491151@N00","authorname":"courthouselover","raw":"Woodston","_content":"woodston","machine_tag":0},{"id":"6424137-6066076873-6000","author":"99491151@N00","authorname":"courthouselover","raw":"KS","_content":"ks","machine_tag":0},{"id":"6424137-6066076873-18668","author":"99491151@N00","authorname":"courthouselover","raw":"North
        America","_content":"northamerica","machine_tag":0},{"id":"6424137-6066076873-4074","author":"99491151@N00","authorname":"courthouselover","raw":"United
        States","_content":"unitedstates","machine_tag":0},{"id":"6424137-6066076873-2296","author":"99491151@N00","authorname":"courthouselover","raw":"US","_content":"us","machine_tag":0}]},"location":{"latitude":"39.453741","longitude":"-99.098922","accuracy":"16","context":"0","locality":{"_content":"Woodston","woeid":2523758},"county":{"_content":"Rooks","woeid":12588452},"region":{"_content":"Kansas","woeid":2347575},"country":{"_content":"United
        States","woeid":23424977},"neighbourhood":{"_content":"","woeid":0}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/courthouselover\/6066076873\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 15:48:47 GMT
recorded_with: VCR 6.0.0
