---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 02:53:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"1234"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Luxembourg","adminArea5Type":"City","adminArea4":"Luxembourg","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"LU","adminArea1Type":"Country","postalCode":"1234","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"346755873","unknownInput":"","type":"s","latLng":{"lat":49.595734,"lng":6.140648},"displayLatLng":{"lat":49.595734,"lng":6.140648},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=49.595734,6.140648|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-629154373"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"MK","adminArea1Type":"Country","postalCode":"1234","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"s[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=49.595734&lon=6.140648&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":302,"perpage":250,"total":"75480","photo":[{"id":"51142496279","owner":"57342563@N00","secret":"1e15c852f5","server":"65535","farm":66,"title":"000452650005","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51141873155","owner":"108288726@N06","secret":"93c30cfb72","server":"65535","farm":66,"title":"sketch_LUXEMBOURG_Konschthaus
        beim Engel_210424_300dpi","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51140983893","owner":"108288726@N06","secret":"afb610561b","server":"65535","farm":66,"title":"sketch_LUXEMBOURG_Ancienne
        Pharmacie_angle rue Chimay_210424_300dpi","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51135262033","owner":"14024754@N07","secret":"dd0df42f3c","server[...]
