---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=Photo Key&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51135914883
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51135914883","secret":"f3e95ec59f","server":"65535","farm":66,"dateuploaded":"1619288939","isfavorite":0,"license":"3","safety_level":"0","rotation":0,"originalsecret":"794df4eea1","originalformat":"jpg","owner":{"nsid":"39877441@N05","username":"mclcbooks","realname":"Michael
        Levine-Clark","location":"Denver, USA","iconserver":"7288","iconfarm":8,"path_alias":null},"title":{"_content":"Pasque
        Flowers"},"description":{"_content":"Denver Botanic Gardens"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619288939","taken":"2021-04-09
        09:26:00","takengranularity":"0","takenunknown":"0","lastupdate":"1619367799"},"views":"553","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":1},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"10"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"39872101-51135914883-535","author":"39877441@N05","authorname":"mclcbooks","raw":"flower","_content":"flower","machine_tag":0},{"id":"39872101-51135914883-140","author":"39877441@N05","authorname":"mclcbooks","raw":"flowers","_content":"flowers","machine_tag":0},{"id":"39872101-51135914883-833","author":"39877441@N05","authorname":"mclcbooks","raw":"floral","_content":"floral","machine_tag":0},{"id":"39872101-51135914883-551","author":"39877441@N05","authorname":"mclcbooks","raw":"macro","_content":"macro","machine_tag":0},{"id":"39872101-51135914883-1077","author":"39877441@N05","authorname":"mclcbooks","raw":"closeup","_content":"closeup","machine_tag":0},{"id":"39872101-51135914883-368328","author":"39877441@N05","authorname":"mclcbooks","raw":"pulsatilla","_content":"pulsatilla","machine_tag":0},{"id":"39872101-51135914883-55899","author":"39877441@N05","authorname":"mclcbooks","raw":"pasque
        flower","_content":"pasqueflower","machine_tag":0},{"id":"39872101-51135914883-707158","author":"39877441@N05","authorname":"mclcbooks","raw":"Denver
        Botanic Gardens","_content":"denverbotanicgardens","machine_tag":0},{"id":"39872101-51135914883-3157","author":"39877441@N05","authorname":"mclcbooks","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"39872101-51135914883-2620","author":"39877441@N05","authorname":"mclcbooks","raw":"spring","_content":"spring","machine_tag":0}]},"location":{"latitude":"39.732546","longitude":"-104.960879","accuracy":"16","context":"0","locality":{"_content":"Cheesman
        Park"},"county":{"_content":"Denver"},"region":{"_content":"Colorado"},"country":{"_content":"United
        States"},"neighbourhood":{"_content":""}},"geoperms":{"ispublic":1,"iscontact":0,"isfriend":0,"isfamily":0},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/39877441@N05\/51135914883\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 22:04:35 GMT
recorded_with: VCR 6.0.0
