---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Wed, 28 Apr 2021 13:35:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":""},"locations":[]}]}'
  recorded_at: Wed, 28 Apr 2021 13:35:11 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=0&lon=0&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1130,"perpage":250,"total":"282407","photo":[{"id":"51143731466","owner":"27199415@N05","secret":"967329271d","server":"65535","farm":66,"title":"PXL_20210428_0630304782.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51144837250","owner":"27199415@N05","secret":"97b52708a9","server":"65535","farm":66,"title":"PXL_20210428_0630304783.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51144508399","owner":"27199415@N05","secret":"2d2fcba0a5","server":"65535","farm":66,"title":"PXL_20210428_064052195.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51144481679","owner":"27199415@N05","secret":"07981c673c","server":"65535","farm":66,"title":"PXL_20210428_063030478.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51141738847","owner":"27199415@N05","secret":"12f99e2408","server":"65535","farm":66,"title":"PXL_20210427_161511486.PANO.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142588553","owner":"27199415@N05","secret":"5ca5cb58f7","server":"65535","farm":66,"title":"PXL_20210427_155004708.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142376966","owner":"27199415@N05","secret":"12d9939b26","server":"65535","farm":66,"title":"PXL_20210427_155038490.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142815904","owner":"82911286@N03","secret":"ec377cd242","server":"65535","farm":66,"title":"Collettivo
        Novecento:","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51141806713","owner":"27199415@N05","secret":"4950865ca0","server":"65535","farm":66,"title":"PXL_20210427_062833115.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142371289","owner":"27199415@N05","secret":"13e8c9be76","server":"65535","farm":66,"title":"PXL_20210427_063852141.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51141805588","owner":"27199415@N05","secret":"01b020972f","server":"65535","farm":66,"title":"PXL_20210427_063853[...]
