---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Mon, 07 Jun 2021 15:58:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":""},"locations":[]}]}'
  recorded_at: Mon, 07 Jun 2021 15:58:48 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=0&lon=0&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1237,"perpage":250,"total":309029,"photo":[{"id":"51230813462","owner":"27199415@N05","secret":"54a6ba0e87","server":"65535","farm":66,"title":"PXL_20210607_154829108.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51231466576","owner":"27199415@N05","secret":"a17c5eef77","server":"65535","farm":66,"title":"PXL_20210607_151251893.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51232509695","owner":"27199415@N05","secret":"293b82cbba","server":"65535","farm":66,"title":"PXL_20210607_151302792.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51232433795","owner":"27199415@N05","secret":"3cb570f730","server":"65535","farm":66,"title":"PXL_20210607_141307872.jpg","ispublic":1,"isfriend":0,"isf[...]
