---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 13:35:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-290963619"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-784718171"}]}]}'
  recorded_at: Wed, 28 Apr 2021 13:35:09 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?accuracy=11&api_key=Photo Key&format=json&geo_context=2&lat=39.738453&lon=-104.984853&method=flickr.photos.search&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":850,"perpage":250,"total":"212348","photo":[{"id":"51144796785","owner":"25856681@N07","secret":"8cd3647e5a","server":"65535","farm":66,"title":"PXL_20210426_211847608","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51143012247","owner":"25856681@N07","secret":"35e4b086d5","server":"65535","farm":66,"title":"PXL_20210426_211823072","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51143602611","owner":"25856681@N07","secret":"f2d8aab200","server":"65535","farm":66,"title":"2021-04-27_11-11-03","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51142928502","owner":"25856681@N07","secret":"744d62c14e","server":"65535","farm":66,"title":"2021-04-27_11-10-32","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5[...]
