---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely,daily,alerts&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623081532,"sunrise":1623065709,"sunset":1623118790,"temp":81.52,"feels_like":80.31,"pressure":1000,"humidity":32,"dew_point":48.85,"uvi":5.92,"clouds":30,"visibility":10000,"wind_speed":5.55,"wind_deg":140,"wind_gust":4.43,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1623078000,"temp":80.1,"feels_like":79.54,"pressure":1002,"humidity":34,"dew_point":49.23,"uvi":3.43,"clouds":32,"visibility":10000,"wind_speed":5.28,"wind_deg":153,"wind_gust":5.32,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1623081600,"temp":81.52,"feels_like":80.31,"pressure":1000,"humidity":32,"dew_point":48.85,"uvi":5.92,"clouds":30,"visibility":10000,"wind_speed":5.55,"wind_deg":140,"wind_gust":4.43,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1623085200,"temp":81.41,"feels_like":80.15,"pressure":1001,"humidity":31,"dew_point":47.91,"uvi":8.48,"clouds":29,"visibility":10000,"wind_speed":4.92,"wind_deg":131,"wind_gust":3.62,"weather":[{"id":[...]
[...]
