---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely,daily,alerts&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619613604,"sunrise":1619611491,"sunset":1619660797,"temp":41.9,"feels_like":38.17,"pressure":1017,"humidity":70,"dew_point":32.85,"uvi":0.03,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":30,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619611200,"temp":42.48,"feels_like":34.84,"pressure":1016,"humidity":69,"dew_point":33.04,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":15.57,"wind_deg":7,"wind_gust":23.49,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619614800,"temp":41.9,"feels_like":35.71,"pressure":1017,"humidity":70,"dew_point":32.85,"uvi":0.03,"clouds":75,"visibility":10000,"wind_speed":10.71,"wind_deg":17,"wind_gust":15.68,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.1},{"dt":1619618400,"temp":43.2,"feels_like":37.58,"pressure":1017,"humidity":68,"dew_point":33.37,"uvi":0.12,"clouds":70,"visibility":10000,"wind_speed":10.04,"wind_deg":14,"wind_gust":12.64,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.1},{"dt":1619622000,"temp":44.67,"feels_like":38.25,"pressure":1016,"humidity":66,"dew_point":34.03,"uvi":0.3,"clouds":72,"visibility":10000,"wind_speed":13.49,"wind_deg":11,"wind_gust":14.85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.15},{"dt":1619625600,"temp":44.85,"feels_like":37.42,"pressure":1017,"humidity":72,"dew_point":36.39,"uvi":0.66,"clouds":75,"visibility":10000,"wind_speed":17.45,"wind_deg":10,"wind_gust":19.64,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.23,"rain":{"1h":0.14}},{"dt":1619629200,"temp":45.54,"feels_like":38.7,"pressure":1017,"humidity":73,"dew_point":37.4,"uvi":0.99,"clouds":79,"visibility":10000,"wind_speed":15.9,"wind_deg":7,"wind_gust":21.43,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.32,"rain":{"1h":0.34}},{"dt":1619632800,"temp":47.98,"feels_like":42.42,"pressure":1017,"humidity":69,"dew_point":37.9,"uvi":1.24,"clouds":84,"visibility":10000,"wind_speed":13.65,"wind_deg":13,"wind_gust":19[...]
[...]
