---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely,daily,alerts&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619612265,"sunrise":1619611491,"sunset":1619660797,"temp":44.02,"feels_like":40.71,"pressure":1017,"humidity":70,"dew_point":34.88,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":30,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619611200,"temp":44.02,"feels_like":37.35,"pressure":1017,"humidity":70,"dew_point":34.88,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":13.78,"wind_deg":9,"wind_gust":20.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619614800,"temp":44.56,"feels_like":39.15,"pressure":1016,"humidity":69,"dew_point":35.04,"uvi":0.03,"clouds":74,"visibility":10000,"wind_speed":10.4,"wind_deg":18,"wind_gust":13.6,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.11},{"dt":1619618400,"temp":45.77,"feels_like":41.11,"pressure":1016,"humidity":66,"dew_point":35.08,"uvi":0.12,"clouds":73,"visibility":10000,"wind_speed":9.17,"wind_deg":29,"wind_gust":11.56,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.16},{"dt":1619622000,"temp":47.79,"feels_like":43.56,"pressure":1016,"humidity":62,"dew_point":35.42,"uvi":0.3,"clouds":79,"visibility":10000,"wind_speed":9.28,"wind_deg":24,"wind_gust":12.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.16},{"dt":1619625600,"temp":48.7,"feels_like":43.03,"pressure":1016,"humidity":65,"dew_point":37.49,"uvi":0.66,"clouds":83,"visibility":10000,"wind_speed":14.81,"wind_deg":16,"wind_gust":16.06,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.26},{"dt":1619629200,"temp":47.55,"feels_like":41.07,"pressure":1017,"humidity":72,"dew_point":38.43,"uvi":0.99,"clouds":88,"visibility":10000,"wind_speed":16.78,"wind_deg":15,"wind_gust":20.67,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.37,"rain":{"1h":0.12}},{"dt":1619632800,"temp":49.17,"feels_like":43.54,"pressure":1017,"humidity":67,"dew_point":38.01,"uvi":1.24,"clouds":90,"visibility":10000,"wind_speed":15.21,"wind_deg":24,"wind_gust":20.09,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.41},{"dt":1619636400,"temp":52.92,"feels_like":50.4,"pressure":1016,"humidity":53,"dew_point":36.05,"uvi":1.38,"clouds":100,"visibility":10000,"wind_speed":16.17,"wind_deg":25,"wind_gust":20.15,"we[...]
[...]
