---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Wed, 28 Apr 2021 13:41:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":""},"locations":[]}]}'
  recorded_at: Wed, 28 Apr 2021 13:41:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=0&lon=0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":0,"lon":0,"timezone":"Etc/GMT","timezone_offset":0,"current":{"dt":1619617313,"sunrise":1619589235,"sunset":1619632846,"temp":83.8,"feels_like":90.7,"pressure":1008,"humidity":72,"dew_point":73.81,"uvi":8.33,"clouds":38,"visibility":10000,"wind_speed":9.8,"wind_deg":172,"wind_gust":9.64,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619614800,"temp":83.8,"feels_like":91.02,"pressure":1008,"humidity":73,"dew_point":74.23,"uvi":11,"clouds":42,"visibility":10000,"wind_speed":10.13,"wind_deg":165,"wind_gust":10.09,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.24},{"dt":1619618400,"temp":83.8,"feels_like":90.7,"pressure":1008,"humidity":72,"dew_point":73.81,"uvi":8.33,"clouds":38,"visibility":10000,"wind_speed":9.8,"wind_deg":172,"wind_gust":9.64,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.24},{"dt":1619622000,"temp":83.84,"feels_like":90.45,"pressure":1008,"humidity":71,"dew_point":73.44,"uvi":5,"clouds":42,"visibility":10000,"wind_speed":9.31,"wind_deg":170,"wind_gust":9.17,"weather":[{"id":[...]
