---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Mon, 07 Jun 2021 15:58:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":""},"locations":[]}]}'
  recorded_at: Mon, 07 Jun 2021 15:58:54 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=0&lon=0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":0,"lon":0,"timezone":"Etc/GMT","timezone_offset":0,"current":{"dt":1623081535,"sunrise":1623045325,"sunset":1623088957,"temp":81.75,"feels_like":88.66,"pressure":1011,"humidity":82,"dew_point":75.72,"uvi":2.08,"clouds":54,"visibility":10000,"wind_speed":3,"wind_deg":173,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.25}},"hourly":[{"dt":1623078000,"temp":81.52,"feels_like":87.85,"pressure":1011,"humidity":81,"dew_point":75.13,"uvi":4.74,"clouds":57,"visibility":10000,"wind_speed":12.24,"wind_deg":119,"wind_gust":12.57,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1623081600,"temp":81.75,"feels_like":88.66,"pressure":1011,"humidity":82,"dew_point":75.72,"uvi":2.08,"clouds":54,"visibility":10000,"wind_speed":12.97,"wind_deg":120,"wind_gust":13.04,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1623085200,"temp":81.45,"feels_like":87.69,"pressure":1011,"humidity":81,"dew_point":75.06,"uvi":0.52,"clouds":52,"visibility":10000,"wind_speed":13,"wind_deg":129,"wind_gust":12.82,"weather":[{"id":80[...]
