---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Geocode key&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 15:48:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2034581801"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Geocode
        key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1603204686"}]}]}'
  recorded_at: Tue, 27 Apr 2021 15:48:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=Weather key&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619538528,"sunrise":1619525100,"sunset":1619574586,"temp":49.03,"feels_like":45.28,"pressure":1007,"humidity":65,"dew_point":37.8,"uvi":3.76,"clouds":84,"visibility":10000,"wind_speed":8.77,"wind_deg":27,"wind_gust":10.51,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619535600,"temp":49.75,"feels_like":46.72,"pressure":1007,"humidity":62,"dew_point":37.27,"uvi":1.85,"clouds":83,"visibility":10000,"wind_speed":7.36,"wind_deg":22,"wind_gust":9.64,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.87,"rain":{"1h":0.28}},{"dt":1619539200,"temp":49.03,"feels_like":45.28,"pressure":1007,"humidity":65,"dew_point":37.8,"uvi":3.76,"clouds":84,"visibility":10000,"wind_speed":8.77,"wind_deg":27,"wind_gust":10.51,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.87},{"dt":1619542800,"temp":49.5,"feels_like":45.61,"pressure":1007,"humidity":63,"dew_point":37.44,"uvi":5.59,"clouds":85,"visibility":10000,"wind_speed":9.42,"wind_deg":50,"wind_gust":10.69,"weather"[...]
