---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=duDEJ8fJ1iTMGItJKJjKEWgB5sD6NcMv&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 23:42:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=duDEJ8fJ1iTMGItJKJjKEWgB5sD6NcMv&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2065649325"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=duDEJ8fJ1iTMGItJKJjKEWgB5sD6NcMv&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-740509406"}]}]}'
  recorded_at: Sat, 24 Apr 2021 23:42:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=da73c8c5f75f1ed699e32db2b5ead2ca&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619307728,"sunrise":1619266137,"sunset":1619315203,"temp":66.25,"feels_like":63.34,"pressure":1004,"humidity":16,"dew_point":20.26,"uvi":0.63,"clouds":99,"visibility":10000,"wind_speed":1.99,"wind_deg":36,"wind_gust":5.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619305200,"temp":66.13,"feels_like":63.25,"pressure":1004,"humidity":17,"dew_point":21.43,"uvi":1.59,"clouds":99,"visibility":10000,"wind_speed":5.03,"wind_deg":60,"wind_gust":8.1,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619308800,"temp":66.25,"feels_like":63.34,"pressure":1004,"humidity":16,"dew_point":20.26,"uvi":0.63,"clouds":99,"visibility":10000,"wind_speed":7.18,"wind_deg":57,"wind_gust":9.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619312400,"temp":65.44,"feels_like":62.53,"pressure":1004,"humidity":18,"dew_point":22.14,"uvi":0.17,"clouds":99,"visibility":10000,"wind_speed":7.45,"wind_deg":48,"wind_gust":9.55,"weather":[{"id":804[...]
